@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

* {
    font-family: 'Fontaine', normal;
  
}
body {
    background-color:#2c171c8a;
    padding-bottom: 100%;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(to top right,rgb(35, 0, 161),rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.navbar img {
    height: 35px;
}
.navbar h1 {
    color: white;
    font-weight: 300;
    margin-left: 20px;
}
.navbar div {
    display: flex;
}

/* CARD PRODUTO */
.card-produto {
    width: calc(100% - 40px);
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-top: 40px;
}
.card-produto img {
    width: 100%;
}
.card-produto .card-produto-descricao {
    padding: 10px 20px;
}
.card-produto .card-produto-descricao h2 {
    font-weight: bold;
    margin-bottom: 10px;
}
.card-produto .card-produto-descricao p {
    font-size: 11pt;
    color: grey;
}
.card-produto .card-produto-descricao p:last-child {
    color: blue;
}

/* DETALHE PRODUTO */
.detalhe-produto img{
    width: 100%;
}
.detalhe-produto h1 {
    font-size: 25pt;
}
.detalhe-produto .descricao {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.detalhe-produto .dados {
    padding: 20px;
}
.detalhe-produto .produto-descricao {
    font-size: 20pt;
}
.detalhe-produto .produto-preco {
    font-size: 30pt;
    color:rgb(255, 0, 0);
}

/* CARRINHO */

.item-carrinho {
    background-color: white;
    border-bottom: 2px solid rgb(233,233,233);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-carrinho .img {
    width: 100px;
}
.item-carrinho .img img {
    width: 100%;
}

.item-carrinho .close img {
    width: 20px;
    height: 20px;
}

/* DRAWER */

.drawer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    display: none;
    color: white;
}
.drawer .drawer-menu {
    background-color: #ff0000;
    height: 60%;
    width: 70%;
    animation: abrir-menu 1s;
}
.drawer .drawer-close {
    width: 20%;
    height: 100%;
}
.drawer .drawer-menu-close {
    padding: 20px;
}
.drawer .drawer-menu-close img{
    width: 20px;
    float: right;
}
.drawer .drawer-title {
    padding: 20px;
    font-size: 20pt;
}

.drawer-menu .menu-itens {
    padding: 20px;
}
.drawer-menu .menu-item{
    padding: 10px 20px;
}
.drawer-menu .menu-item a{
    color: white;
    text-decoration: none;
}
.drawer-menu .menu-item img {
    width: 20px;
    margin-right: 20px;
}
/*Rodapé*/
.footer{
    height: 70px;
    width: 100%;
    background: linear-gradient(to top right,rgb(0, 0, 0),rgb(35, 0, 161));
    position: fixed;
    bottom: 0;
    left: 0;
}

/* ANIMAÇÕES */

@keyframes abrir-menu {
    0% {
        margin-left: -80%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes fechar-menu {
    0% {
        margin-left: 0%;
    }

    100%{
        margin-left: -80%;
    }
}
@keyframes zoom-in{
0%{
    transform: scale(1);
    opacity: 1;
}
100%{
    transform: scale(3);
    opacity: 0;
}
}
@keyframes zoom-out{
    0%{
        transform: scale(3);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

    
    .novo-produto {
        margin-left: 5%;
    }
    .novo-produto div input{
        background-color: #ebe2e2;
            width: 80%;
            margin: 25px 10px;
            box-sizing: content-box;
            padding: 10px;
            border: none;
            border-radius: 20px;

       
    }
    .novo-produto div button{
        
        width: 80%;
        margin: 5px 0px;
        box-sizing: content-box;
        margin-left: 5%;
        padding: 10px;
        border: none;
        border-radius: 25px;
    
                
    }
    .img_menu img{
            margin-top: 50px;
            padding: 10%;
            height: 400px;
        

    }
    /*este css é parte do insere na cesta*/
    .form input{
        background-color: #ebe2e2;
        width: 80%;
        margin: 25px 10px;
        box-sizing: content-box;
        padding: 10px;
        border: none;
        border-radius: 20px;

   
    }
    .form button{
        width: 80%;
        margin: 5px 0px;
        box-sizing: content-box;
        margin-left: 5%;
        padding: 10px;
        border: none;
        border-radius: 25px;
    

    }
        

